ArchiveSources: => $"{Constants.BlogPath}/posts/*"
ArchiveDestination: => "index.html"
ArchivePageSize: => @Constants.PostsPerPage
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: => $"{Constants.SiteTitle}"
---
@model IDocument
<div class="tfx-purple-section">
    <div class="container-fluid">
        <h1 class="display-4 text-center">I'm tfx</h1>
        <p class="lead text-center">Dolor sit amet.</p>
        <hr class="my-4">
@*        <div class="row">
            <div class="text-center col-md-8 offset-md-2">
            </div>
        </div>*@
    </div>
</div>
<div class="tfx-teal-section">
    <div class="container-fluid">
        <h2 class="display-4 text-center">I'm a programmer</h2>
        <hr class="my-4" />
        <div class="row">
            <div class="text-center col-md-8 offset-md-2 tfx-article-text">
                <p>I'm a professional C# developer, but my interests go far beyond my day job. I'm comfortable learning new languages quickly, and trying out interesting platforms.</p>
                <div class="row mx-1">
                    <div class="col-md-4 tfx-main-pg-block">
                        <div class="tfx-main-pg-header">
                            <a href="@($"/{Constants.ProjectPath}/categories/demo/")">
                                <img class="tfx-main-pg-img" src="assets/img/projects/sij/plasmacubes.gif" />
                                <div class="tfx-main-pg-img-txt">
                                    <p>Graphics Demos</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 tfx-main-pg-block">
                        <div class="tfx-main-pg-header">
                            <a href="@($"/{Constants.ProjectPath}/categories/game/")">
                                <img class="tfx-main-pg-img" src="assets/img/projects/mmm/munch.gif" />
                                <div class="tfx-main-pg-img-txt">
                                    <p>Games</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 tfx-main-pg-block">
                        <div class="tfx-main-pg-header">
                            <a href="@($"/{Constants.ProjectPath}/categories/web/")">
                                <img class="tfx-main-pg-img" src="assets/img/projects/sij/plasmacubes.gif" />
                                <div class="tfx-main-pg-img-txt">
                                    <p>Web Projects</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <a class="tfx-btn tfx-btn-purple btn-lg" href="/@Constants.ProjectPath/" role="button">All Projects >></a>
            </div>
        </div>
    </div>
</div>
<div class="tfx-purple-section">
    <div class="container-fluid">
        <h2 class="display-4 text-center">I'm a musician</h2>
        <hr class="my-4" />
        <div class="row">
            <div class="text-center col-md-8 offset-md-2 tfx-article-text">
                <p>I'm also a musician who enjoys writing authentic chiptune music using real hardware. In the spring and fall I play in local concert bands as a mallet percussionist.</p>
                <div class="row">
                       <div class="col-md-6 tfx-main-pg-block">
                        <div class="tfx-main-pg-header">
                            <a href="/">
                                <img class="tfx-main-pg-img" src="assets/img/projects/soundtracks/IronDroughtAlbum.png" />
                                <div class="tfx-main-pg-img-txt">
                                    <p>Soundtracks</p>
                                </div>
                            </a>
                        </div>
                    </div>
                                        <a class="col-md-6">
                        <img style="width: 100%;" src="assets/img/projects/sij/plasmacubes.gif" />
                    </a>
                </div>
                <br/>
                <a class="tfx-btn-teal tfx-btn btn-lg" href="/@Constants.ProjectPath/" role="button">All Projects >></a>
            </div>
        </div>
    </div>
</div>
<div class="tfx-teal-section">
    <div class="container-fluid">
        <h2 class="display-4 text-center">I'm a blogger</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2 tfx-article-text">
                <p class="text-center">I write about my projects and solutions to problems I encounter.  See my newest posts below.</p>
                @foreach(var post in Document.GetChildren().Take(3))
                {
                    IDocument topicDocument = OutputPages[$"{Constants.BlogPath}/categories/{post.GetString("Category")}/index.html"].First();
                    string excerpt = post.GetString(Statiq.Html.HtmlKeys.Excerpt);
                    excerpt = excerpt.RemoveEnd("</p>"); //remove final '</p>'
                    var words = excerpt.Split().Take(50); //only interested in first 50 words, so add them to array
                    excerpt = string.Join(" ", words); //rejoin the words as single string
                    excerpt += $" ... <span class=\"small\"><a class=\"tfx-white-link\" href=\"{Context.GetLink(post)}\">Read more</a></span></p>"; //add it back with some more goodies
                    <article class="post">
                        <header>
                            <h1 itemprop="headline name">
                                <a class="tfx-white-link" itemprop="url" href="@Context.GetLink(post).Substring(1)">@post.GetString("Title")</a>
                            </h1>
                            <h3 class="bh">
                                <time datetime="@post.GetString("Published")" itemprop="datePublished">@post.GetDateTime("Published").ToString("MMMM dd, yyyy")</time>
                                @if (topicDocument != null)
                                {
                                    <a href="@(topicDocument.GetLink())"><span class="badge badge-dark">@topicDocument.GetTitle()</span></a>
                                }
                            </h3>
                        </header>
                        <div class="tfx-article-text" itemprop="articleBody">
                            @Html.Raw(excerpt)
                        </div>
@*                        <div class="collapse" aria-hidden="true" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="@post.GetString("Author")">
                        </div>*@
                        <meta itemprop="dateModified" content="@post.GetString("Modified")">
                    </article>
                }
                <br/>
                <div class="text-center">
                    <a class="tfx-btn tfx-btn-purple btn-lg" href="/@Constants.BlogPath/" role="button">All Posts >></a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="tfx-purple-section">
    <div class="container-fluid">
        <h2 class="display-4 text-center">CONTACT ME</h2>
        <hr class="my-4" />
        <div class="row">
            <div class="text-center col-md-8 offset-md-2 tfx-article-text">
                <p>
                    Interested in working on some project together? Need music for a game, video, or something else? Just want to tell me you've received an unbelievably complex do-it-yourself meal kit from Japan? Let me know by using the form below.
                </p>
            </div>
        </div>
    </div>
</div>